<% var user %>
<% var date %>
	<% user = _.find(USERS, function(obj) {return obj.id == review.escape('user_id')}) %>
	<% date = new Date(review.escape('updated_at')) %>
	<li>
		<%= user['username'] %>: <%= review.escape('body') %>, Rating: <%= review.escape('rating') %>, <%= (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear() %>
	</li>