<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    	<a class="navbar-brand" href="/">SweetSpot</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle navbar-btn" data-toggle="dropdown">
            Dessert Type <span class="caret"></span>
        </button>
         <ul class="dropdown-menu" role="menu">
            <li><a href="#category/cake"><img src="/assets/glyphicons_272_cake.png" height="18" width="18"> Cake/Pie</a></li>
            <li><a href="#category/cookies"><img src="/assets/cookie.png" height="18" width="18"> Cookies</a></li>
            <li><a href="#category/crepes"><img src="/assets/crepe.png" height="18" width="18"> Crepes</a></li>
            <li><a href="#category/cupcakes"><img src="/assets/cupcake.png" height="18" width="18"> Cupcakes</a></li>
            <li><a href="#category/yogurt"><img src="/assets/yogurt.png" height="18" width="18"> Frozen Yogurt</a></li>
            <li><a href="#category/fruit"><img src="/assets/grapes.png" height="18" width="18"> Fruit</a></li>
            <li><a href="#category/icecream"><img src="/assets/icecream.png" height="18" width="18"> Ice Cream</a></li>
            <li><a href="#category/tea"><i class="fa fa-coffee fa-lg"></i> Tea/Coffee</a></li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-3">
        <form class="navbar-form navbar-left" role="search" id="search-form">
	        <div class="input-group">
	            <input list="cities" class="form-control" placeholder="Search By Name..." name="name">
								<datalist id="cities">
								<% if (typeof NAMES !== "undefined") { %>
								<% for(var i=0; i < NAMES.length && i < 10; i++) { %>
									<option value="<%= NAMES[i] %>">
								<% }; }%>
								</datalist>
							<div class="input-group-btn">
	                <button class="btn btn-default" id="search-submit"><i class="glyphicon glyphicon-search"></i></button>
	            </div>
	        </div>
        </form>
    </div>
		<% if (typeof CURRENT_USER_ID !== 'undefined' && CURRENT_USER_ID !== "") { %>
			<% function pad(n, width, z) {z = z || '0'; n = n + ''; %>
			<%		return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n; } %>
		<a class="pull-right" href="/users/<%=CURRENT_USER_ID%>">
       <img class="media-object dp img-circle" src='<%= CURRENT_USER_PHOTO %>' alt="http://s30.postimg.org/6bcndtozx/user_anonymous.png" style="width: 64px;height:64px;">
		</a>
		<% } %>
		<form class="navbar-form navbar-right">
			<a class="btn btn-warning" href="#restaurants/new">List New</a>
    </form>
		<form class="navbar-form navbar-right">
			<% if (typeof CURRENT_USER_ID !== 'undefined' && CURRENT_USER_ID !== "") { %>
				<a class="btn btn-default" href="/session" data-method="delete" rel="nofollow">Sign Out</a>
			<% } else { %>
				<a class="btn btn-default" href="/session/new">Login</a>
				<a class="btn btn-default" href="/users/new">Sign Up</a>
			<% } %>
    </form>
  </div><!-- /.navbar-collapse -->
</div>
</nav>
