<div id='header-content'>
Header Loading...
</div>
<div id='content'>
Body Loading...
</div>

<script>
	<% if !current_user.nil? %>
	var CURRENT_USER_ID = <%= current_user.id %>;
	<% else %>
	var CURRENT_USER_ID = "";
	<% end %>

	if (typeof CURRENT_SEARCH === 'undefined') {
		<% if !current_user.nil? %>
			var CURRENT_SEARCH = {address: {city: '<%= current_user.home %>'}};
		<% else %>
			var CURRENT_SEARCH = {address: {city: 'San Francisco'}};
		<% end %>
	}

  var USERS = <%= User.all.to_json(:only => [:username, :id]).html_safe %>
	var CITIES = <%= Address.uniq.pluck(:city).to_json.html_safe  %>
</script>


