/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.navbar-default .navbar-brand {
    color: #C11B17;
}

//photo tab size
//#photo-tab {
//	max-width: 800px;
//	max-height: 600px;
//}

//map tab size
//#map-tab {
//	max-width: 800px;
//	max-height: 600px;
//}

//borders around tabs
.tab-content {
		max-width:800px;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

#photo-map-tab-nav {
		border-bottom: none;
}

//div {
//  border: solid 1px #000;
//}