/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

//SweetSpot logo color
.navbar-default .navbar-brand {
    color: #C11B17;
}

//borders around tabs
.tab-content {
		max-width: 800px;
		min-height: 540px;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel-inner{
	max-width: 800px;
	min-height: 540px;
}

//remove line under Photo/Map tab
.nav-tabs {
    margin-bottom: 0;
}

//remove line under Photo/Map tab
#photo-map-tab-nav {
		border-bottom: none;
}

//fixed review textarea size
#review_body{
  max-width:800px;
	min-height:100px;
}

//fixed rating with
#review_rating{
	width:60px;
}

//fixed width size of review form submit button
#review-form-submit-container{
	max-width:780px;
}
//div {
//  border: solid 1px #000;
//}

//less space between images
.lesspadding {
   padding: 5px;
   margin: 0;
}

//removes space below navbar
.navbar {
    margin-bottom: 0;
}

//fix size of well around reviews
.well-size {
	max-width:800px;
}

//fix size of user icon
.media-object {
	max-width:64px;
	max-height:64px;
}

//sign in
#signup-container {
  background: url(http://s16.postimg.org/j0giezwp1/Food_Cakes_and_Sweet_Delicious_desserts_013219.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//create user page
#create-user-page {
  background: url(http://s11.postimg.org/cip72f4sj/Food_Cakes_and_Sweet_Ice_Cream_Dessert_013218.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//create user page
#new-location-page {
  background: url(http://s22.postimg.org/l28horo4x/334678.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//show user page
#show-container {
  background: url(http://s14.postimg.org/isxa9xznl/Food_Cakes_and_loaf_A_cake_with_ice_cream_011857.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

//style stars
.red, .red a {
  color: #C11B17;
}

//circle user image
.dp
{
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
}
.dp:hover
{
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    /*-webkit-font-smoothing:antialiased;*/
}

//loading spinner
.modal-static {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    margin-top: -100px;
    margin-left: -100px;
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px;
    height: 200px;
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}
.modal-static .modal-content .icon {
}

//thumbnail header
.thumbnail .info {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-left: 15px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    cursor:  pointer;
}